<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EjemploServlet</servlet-name>
        <servlet-class>com.eventual.servlets.EjemploServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>com.eventual.servlets.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrarse</servlet-name>
        <servlet-class>com.eventual.servlets.Registrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Social</servlet-name>
        <servlet-class>com.eventual.servlets.Social</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EjemploServlet</servlet-name>
        <url-pattern>/EjemploServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrarse</servlet-name>
        <url-pattern>/Registrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Social</servlet-name>
        <url-pattern>/Social</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio</welcome-file>
        <welcome-file>inicio.jsp</welcome-file>
    </welcome-file-list>
</web-app>
