<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EjemploServlet</servlet-name>
        <servlet-class>com.eventual.servlets.EjemploServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>com.eventual.servlets.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrarse</servlet-name>
        <servlet-class>com.eventual.servlets.Registrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Social</servlet-name>
        <servlet-class>com.eventual.servlets.Social</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscador</servlet-name>
        <servlet-class>com.eventual.servlets.Buscador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mensajes</servlet-name>
        <servlet-class>com.eventual.servlets.Mensajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrador</servlet-name>
        <servlet-class>com.eventual.servlets.Administrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilUsuario</servlet-name>
        <servlet-class>com.eventual.servlets.PerfilUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarseOrganizacion</servlet-name>
        <servlet-class>com.eventual.servlets.RegistrarseOrganizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletarPerfilSocial</servlet-name>
        <servlet-class>com.eventual.servlets.CompletarPerfilSocial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Organizacion</servlet-name>
        <servlet-class>com.eventual.servlets.Organizacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EjemploServlet</servlet-name>
        <url-pattern>/EjemploServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrarse</servlet-name>
        <url-pattern>/Registrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Social</servlet-name>
        <url-pattern>/Social</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscador</servlet-name>
        <url-pattern>/Buscador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mensajes</servlet-name>
        <url-pattern>/Mensajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrador</servlet-name>
        <url-pattern>/Administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilUsuario</servlet-name>
        <url-pattern>/PerfilUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarseOrganizacion</servlet-name>
        <url-pattern>/RegistrarseOrganizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletarPerfilSocial</servlet-name>
        <url-pattern>/CompletarPerfilSocial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Organizacion</servlet-name>
        <url-pattern>/Organizacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio</welcome-file>
        <welcome-file>inicio.jsp</welcome-file>
    </welcome-file-list>
</web-app>
